@import "C:\xampp\htdocs\toko/wp-content/plugins/wp-e-commerce-dynamic-gallery/admin/less/assets/css/mixins.less";

.single_product_display .imagecol {
    max-width:100%;
}
.single_product_display .imagecol > a { display: none !important;position: absolute;z-index: -1;left:-1000em;}
#TB_window{width:auto !important;}
.ad-gallery {
        width: 500pxpx;
        position:relative;
}
.ad-gallery .ad-image-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px solid #CCCCCC !important;
    width: 498px;
    height: 398px;
    margin: 0px;
    position: relative;
    overflow: hidden !important;
    padding: 0 0 25px 0 !important;
    z-index: 8 !important;
}
.ad-gallery .ad-image-wrapper .ad-image {
    width: 100% !important;
    text-align: center;
}
.ad-image img {
    max-width: 500pxpx !important;
}
.ad-gallery .ad-thumbs li {
    padding-right: 2px !important;
}
.ad-gallery .ad-thumbs li.last_item {
    padding-right: 15px !important;
}
.ad-gallery .ad-thumbs li div {
    height: 75px !important;
    width: 105px !important;
}
.ad-gallery .ad-thumbs li a {
    width: 105px !important;
    height: 75px !important;
}
* html .ad-gallery .ad-forward, .ad-gallery .ad-back {
    height: 75px !important;
}
/*Gallery*/

.ad-image-wrapper {
    overflow: inherit !important;
}
.ad-gallery .ad-controls {
    background: #FFFFFF !important;
    border:0px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    margin-top: 20px !important;
    padding: 8px 2% !important;
    position: relative;
    width: 95.8%;
    //-khtml-border-radius:5px;
    //-webkit-border-radius: 5px;
    //-moz-border-radius: 5px;
    //border-radius: 5px;
    display: none;
}
.ad-gallery .ad-info {
    float: right;
    font-size: 14px;
    position: relative;
    right: 8px;
    text-shadow: 1px 1px 1px #000000 !important;
    top: 1px !important;
}
.ad-gallery .ad-nav .ad-thumbs {
    margin: 7px 4% 0 !important;
}
.ad-gallery .ad-thumbs .ad-thumb-list {
    margin-top: 0px !important;
}
.ad-thumb-list li {
    background: none !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
}
.ad-image-wrapper .ad-image-description {
    background: rgba(0,0,0, 0.5) !important;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr="#88000000", EndColorStr="#88000000");
    margin: 0 0 25px !important;
    left: 0;
    line-height: 1.4em;
    padding: 2% 2% 2% !important;
    position: absolute;
    text-align: left;
    width: 96.1% !important;
    z-index: 10;
    font-weight: normal;
    font:normal 12px Arial, sans-serif !important; color:#FFFFFF !important;;
}
.product_gallery .slide-ctrl, .product_gallery .icon_zoom {
    display:block !important;    height: 9px !important;
    line-height: 9px !important;
    font:normal 12px Arial, sans-serif !important; color:#000000 !important;}
 .ad-gallery .lazy-load{
    background: #000000 !important;
    top:409px !important;
    opacity:1 !important;
    margin-top:25px !important;
}
.product_gallery .icon_zoom {
    background: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 0px solid #CCCCCC;
}
.product_gallery .slide-ctrl {
    background: #FFFFFF;
    border-left: 0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
}
.product_gallery .slide-ctrl .ad-slideshow-stop-slide, .product_gallery .slide-ctrl .ad-slideshow-start-slide, .product_gallery .icon_zoom {
    line-height: 9px !important;
    font:normal 12px Arial, sans-serif !important; color:#000000 !important;}
.product_gallery .ad-gallery .ad-thumbs li a {
    border: 0px solid #CCCCCC !important;
}
.ad-gallery .ad-thumbs li a.ad-active {
    border: 0px solid #FFFFFF !important;
}
