/*
Theme Name: Vast Street Wear
Theme URI: http://seintica.com
Description: Online Shop Themes untuk Distro Cloth
Author: Seintica Production
Author URI: http://seintica.com
Version: 1.0
*/
@font-face {
    font-family: 'ocr_bregular';
    src: url('fonts/OCR-B-webfont.eot');
    src: url('fonts/OCR-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OCR-B-webfont.woff') format('woff'),
         url('fonts/OCR-B-webfont.ttf') format('truetype'),
         url('fonts/OCR-B-webfont.svg#ocr_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	//font-family: 'ocr_bregular';
}
.header{
	//width: 100%;
	padding-top: 15px;
}
.content{
	//width: 100%;
	//height: 100px;
	//background-color: blue;
}
.footer{
	//width: 100%;
	//background-color: green;
	//height: 30px;
	margin-top: 30px;
}
.social a{
	float: left;
	margin-left: 7px;
}
.subscribe div input{
	//margin: 0 0 0 100px;
	height: 23px;
	border-radius: 0px;
}
.subscribe div{
	margin-left: 100px;
	width: 90%;
}
.subscribe div span button{
	//margin: 0 0 0 50px;
	height: 23px;
}
.menu li a{
	margin: -5px -12px -15px -15px;
	color: black;
	//font-weight: bold;
	font-size: 14px;
	font-family: 'ocr_bregular';
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  //background: silver;
}
.item:nth-child(2) {
  //background: red;
}
.item:nth-child(3) {
  //background: orange;
}
h2 a{
	color: black;
	text-decoration: none;
}
h2 a:hover{
	color:black;
	text-decoration: none;
}

div .footerright a{
	display: inline-block;
}
a.tumblecuk, a.loocuk{
	width: 130px;
	height: 55px;
	display: block;
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_tumb.png") no-repeat;
	-webkit-transition-property: background-position;
	-moz-transition-property: background-position;
	-o-transition-property: background-position;
	transition-property: background-position;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;			
}
a.tumbleacuk{
	background-position: 0 0;	
}
a.loocuk{
	background-position: -130px 0;	
}
a.tumblecuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_tumb.png") 0 100% no-repeat;
	background-position: 0 -54px;
}
a.loocuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_tumb.png") 0 100% no-repeat;
	background-position: -130px -54px;
}

a.vimecuk, a.instacuk, a.twitcuk, a.facuk, a.pincuk{
	width: 25px;
	height: 25px;
	display: inherit;
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") no-repeat;
	-webkit-transition-property: background-position;
	-moz-transition-property: background-position;
	-o-transition-property: background-position;
	transition-property: background-position;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;			
}
a.instacuk{
	background-position: 0 0;	
}
a.vimecuk{
	background-position: -29px 0;	
}
a.twitcuk{
	background-position: -58px 0;	
}
a.facuk{
	background-position: -86px 0;	
}
a.pincuk{
	background-position: -114px 0;	
}
a.instacuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") 0 100% no-repeat;
	background-position: 0 -26px;
}
a.vimecuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") 0 100% no-repeat;
	background-position: -29px -26px;
}
a.twitcuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") 0 100% no-repeat;
	background-position: -58px -26px;
}
a.facuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") 0 100% no-repeat;
	background-position: -86px -26px;
}
a.pincuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_socmed.png") 0 100% no-repeat;
	background-position: -114px -26px;
}

a.seincuk{
	width: 56px;
	height: 48px;
	display: block;
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_sei.png") no-repeat;
	background-position: 0 0;	
	-webkit-transition-property: background-position;
	-moz-transition-property: background-position;
	-o-transition-property: background-position;
	transition-property: background-position;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;			
}a.seincuk:hover{
	background: url("http://localhost/toko/wp-content/uploads/2014/10/vast_asset_sei.png") 0 100% no-repeat;
	background-position: 0 -48px;
}

.footerelement{
	min-width: 280px;
	margin-bottom: 10px;
}
.col-md-4.customwidthleft{
	width:272px;
}
.footerelement.input-group{
	min-width: 100px;
}
.col-md-5.customwidthright{
	width: 340px;
}
.socmed{
	float: none;
	width: 260px;
	height: 30px;
}
.kopirik{
	width: 260px;
	margin-left: 155px;
	color: #d2d3d5;
}
.companion{
	float: right;
}
.form-control.justforfooter{
	margin-right: 100px;
}
.kategori-produk li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.kategori-produk li{
	padding: 3px 0px;
}
.kategori-produk li a:hover{
	color: red;
	font-size: 12px;
}
.list-category{
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
}
.gambar-produk{
	border: none;
}

.no-margin-padding{
	margin: 0px;
	padding: 0px;
}

/*------shop hover-------*/
.product_grid_display a{
	color: #999999;
	text-decoration: none;
}
.product_grid_display a:hover{
	color: black;
	text-decoration: none;
}
.hoveran{
		margin-top: -153px;
		width: 100%;
		height: 148px;
		background-color: white;
		opacity: 0;
		-webkit-transition: opacity 0.4s ease-in-out;
	    -moz-transition: opacity 0.4s ease-in-out;
	    transition: opacity 0.4s ease-in-out;
	    padding-top: 30px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.hoveran:hover{
		opacity: 0.8;
	}
	.judul, .harga{
		margin: auto;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		width: 100%;
		word-wrap: break-word;
		//background-color: red;
	}
	.ukuran{
		width:100%;
		height: 40px;
		//background-color: green;
		padding: 5px 9%;
		margin: 0 auto;
	}
	.floated-box{
		border: 1px solid #999999;
		padding-top: 1px;
		font-size: 12px;
		color: #999999;
		float: left;
		width: 20px;
		height: 20px;
		margin: 5px;
		vertical-align: middle;
		text-align: center;
	}
	.floated-box.ada{
		border: 1px solid black;
		color: black;
	}
/*--------END-------*/
.page-edit{
	margin-top: -40px;
	margin-left: -10px;
}
.table_tuku{
	text-align: center;
}

.input-group.paksacilik > .form-control, 
.input-group.paksacilik > span {
  height: 25px;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}


/*------for single product detail--------*/
img.for-thumb{
	width: 100px;
	margin-right: 10px;
}

.product_wide_display_container{
	max-width: 400px;
	height: 400px;
	margin-bottom: 10px;
}
.product_wide_display_container > img{
	vertical-align: middle;
}
img.wide_display{
	width: 398px;
}
.no-padding{
	padding: 0px;
}
.always_pad_10{
	padding: 0 20px;
}
.with-margin-20{
	margin-left: 20px;
}

@font-face {
    font-family: "PTSansNormal";
    src: url('fonts/PTC55F.ttf') format('truetype');
}
@font-face {
    font-family: "PTSansBlack";
    src: url('fonts/PTC75F.ttf') format("truetype");
}
.title_single_product{
  font-family: "PTSansBlack";
  font-size: 30px;
  margin-bottom: 15px;
}

.thumbnail_single_product{
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	float: left;
}

.no-padding{
	padding: 0px;
}


/*--------hhhhhh---------*/
